*.bak
Documentation/html/
Documentation/Doxygen/dsp.dxy
Documentation/Doxygen/src/history.txt
DSP_Lib_TestSuite/build/
PythonWrapper/cmsisdsp.cp36-win_amd64.pyd
PythonWrapper/internal.cp36-win_amd64.pyd
PythonWrapper/*.so
PythonWrapper/rec_2.dat
*.pickle
build
output
Examples/ARM/arm_fft_bin_example/RTE/
Examples/ARM/arm_fft_bin_example/RTE/
Examples/ARM/arm_fft_bin_example/RTE/
Examples/ARM/arm_linear_interp_example/RTE/
Examples/ARM/arm_signal_converge_example/RTE/
Examples/ARM/arm_svm_example/RTE/
Projects/ARM/IntermediateFiles/
.ipynb_checkpoints
Examples/ARM/*/RTE/
Examples/ARM/*/MTICoverageOut.cov
CMSISDSP.egg-info/
dist/
PACK.xsd
*.uvguix.*
__pycache__/
*.pyd
.DS_Store
.swiftpm/
Examples/cmsis_build/RTE/_Release*
Testing/cmsis_build/RTE/_Release*

PythonWrapper/build_linux/CMakeCache.txt
PythonWrapper/build_linux/CMakeFiles/
PythonWrapper/build_linux/Makefile
PythonWrapper/build_linux/bin_dsp/
PythonWrapper/build_linux/build.sh
PythonWrapper/build_linux/cmake_install.cmake
boost_1_84_0/


# Output of the linkchecker tool
linkchecker-out.csv
.vscode/
.cache/

