name: Neon tests
on:
  workflow_dispatch:
  pull_request:
    branches: [main]
  push:
    branches: [main]

permissions: 
  actions: read
  security-events: write

jobs:
   CI_test_run: 
    runs-on: ubuntu-22.04-arm

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'    

      - name: Install system packages
        run: |
          sudo add-apt-repository ppa:deadsnakes/ppa
          sudo apt-get install libpython3.9 libtinfo5
          sudo apt install build-essential
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-11 60 --slave /usr/bin/g++ g++ /usr/bin/g++-11
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-12 40 --slave /usr/bin/g++ g++ /usr/bin/g++-12
          sudo update-alternatives --set gcc  /usr/bin/gcc-12


      - name: Activate vcpkg
        uses: ARM-software/cmsis-actions/vcpkg@v1
        with:
          config: "./vcpkg-neon-configuration.json"
  
      - name: Prepare framework
        run: |
          cd Testing
          echo "Create missing folders"
          mkdir FullBenchmark
          mkdir Output
          mkdir GeneratedInclude
          mkdir GeneratedSource
          mkdir GeneratedIncludeBench
          mkdir GeneratedSourceBench
          mkdir build

          echo "Install missing python packages"
          pip install -r requirements.txt

          echo "Generate some missing test patterns"
          python PatternGeneration/MatrixNeon.py

          echo "Preprocess test description"
          python preprocess.py -f desc.txt -o Output.pickle
          python preprocess.py -f desc_neon.txt -o Output_neon.pickle
          python preprocess.py -f desc_f16.txt -o Output_f16.pickle

          echo "Generate missing CPP headers"
          python processTests.py -gen . -p Patterns -d Parameters -f Output.pickle -e
          python processTests.py -gen . -p Patterns -d Parameters -f Output_neon.pickle -e
          python processTests.py -gen . -p Patterns -d Parameters -f Output_f16.pickle -e

          cd build

          cmake -G "Ninja" .. 
        
#      - name: Setup tmate session
#        uses: mxschmitt/action-tmate@v3

      - name: Execute generic tests
        run: |
          cd Testing/build

          python ../processTests.py -p ../Patterns -d ../Parameters -gen .. -e -f ../Output.pickle
          ninja 
          ./test > result.txt
          python ../processResult.py --noerr -e -f ../Output.pickle -r result.txt -html > result.html 
      
      - name: Execute neon specific C tests
        run: |
          cd Testing/build

          sh ../test_neon.sh

      - name: Execute f16 C tests
        run: |
          cd Testing/build

          python ../processTests.py -p ../Patterns -d ../Parameters -gen .. -e -f ../Output_f16.pickle
          ninja 
          ./test > result_f16.txt
          python ../processResult.py --noerr -e -f ../Output_f16.pickle -r result_f16.txt -html > result_f16.html 

      - name: Upload test report
        uses: actions/upload-artifact@v6
        with:
          name: neon-test-report
          path: |
             Testing/build/result.html
             Testing/build/result_transform_neon.html
             Testing/build/result_binaryf32_neon.html
             Testing/build/result_binary_complexf32_neon.html
             Testing/build/result_binaryf16_neon.html
             Testing/build/result_binary_complexf16_neon.html
             Testing/build/result_binaryq31_neon.html
             Testing/build/result_binary_complexq31_neon.html
             Testing/build/result_binaryq15_neon.html
             Testing/build/result_binary_complexq15_neon.html
             Testing/build/result_binaryq7_neon.html
             Testing/build/result_f16.html

      
      - name: Check error
        run: |
          cd Testing/build
          
          echo "Checking output..."
          test "$(grep "FAILED" result.html | wc -l)" -eq 0
          test "$(grep "FAILED" result_transform_neon.html | wc -l)" -eq 0
          test "$(grep "FAILED" result_binaryf32_neon.html | wc -l)" -eq 0
          test "$(grep "FAILED" result_binary_complexf32_neon.html | wc -l)" -eq 0
          test "$(grep "FAILED" result_binaryf16_neon.html | wc -l)" -eq 0
          test "$(grep "FAILED" result_binary_complexf16_neon.html | wc -l)" -eq 0
          test "$(grep "FAILED" result_binaryq31_neon.html | wc -l)" -eq 0
          test "$(grep "FAILED" result_binary_complexq31_neon.html | wc -l)" -eq 0
          test "$(grep "FAILED" result_binaryq15_neon.html | wc -l)" -eq 0
          test "$(grep "FAILED" result_binary_complexq15_neon.html | wc -l)" -eq 0
          test "$(grep "FAILED" result_binaryq7_neon.html | wc -l)" -eq 0
          test "$(grep "FAILED" result_f16.html | wc -l)" -eq 0

